---
title: Search
layout: layouts/base.njk
templateClass: tmpl-search
eleventyNavigation:
  key: Search
  order: 4
---

<form method="get" class="search plausible-event-name=Form+Submit">
  <label class="search__label">Search tips in the site</label>
  <input class="search__input" type="text" name="q" id="search-str">
  <button type="submit" class="submit search__button">search</button>
</form>

<ul class="search__result js-result"></ul>

{% set fuse %}
  {% include 'js/plugins/fuse.js' %}
{% endset %}

<script>
  {{ fuse | safe }}
</script>

{% set search %}
  {% include 'js/search.js' %}
{% endset %}

<script async>
  {{ search | safe }}
</script>