---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout 
  title="A propos - Cocoweb" 
  description="A propos de Corentin Marzin et du blog Cocoweb."
  ogImage="/img/og-cocoweb.webp"
  lang="fr"
>
  <article class="about">
    <h1>A propos</h1>
    
    <p>Bienvenue dans mon coin du web.</p>
    
    <p>Je suis Corentin, je conçois des interfaces numériques.</p>
    
    <p>
      Dans ce blog, je partage principalement ma veille technologique et parfois 
      j'écris des articles sur ce que je fais au travail.
    </p>
    
    <h2>Mes projets et liens</h2>
    
    <ul>
      <li>
        <a href="https://github.com/CMarzin/cli-mr-creator" target="_blank" rel="noopener">
          Un package npm pour créer des merge requests depuis le terminal
        </a>
      </li>
      <li>
        <a href="https://corentinmarzin.fr" target="_blank" rel="noopener">
          Mon portfolio personnel
        </a>
      </li>
      <li>
        <a href="https://unsplash.com/@marzin_corentin" target="_blank" rel="noopener">
          Mon espace où je publie mes meilleures photos
        </a>
      </li>
      <li>
        <a href="https://github.com/CMarzin" target="_blank" rel="noopener">
          Mon compte Github
        </a>
      </li>
      <li>
        <a href="https://ysf.cocommit.fr/" target="_blank" rel="noopener">
          Un projet jamais publié, mais dont je suis fier des animations
        </a>
      </li>
      <li>
        <a href="https://x.com/marz_coco" target="_blank" rel="noopener">
          Mon compte Twitter
        </a>
      </li>
      <li>
        <a href="https://haddock-fury.cocommit.fr/" target="_blank" rel="noopener">
          Un générateur d'insultes du capitaine Haddock
        </a>
      </li>
    </ul>
  </article>
</BaseLayout>
