.content-section .u-hover {
  --h: 1.2em;
  line-height: var(--h);
  color: #0000;
  overflow: hidden;
  text-shadow: 0 var(--_t,var(--h)) #fff, 0 0 var(--_c,#000);
  background: linear-gradient(#000 0 0) bottom/100% var(--_d, 0) no-repeat;
  transition: 0.3s;
}

.content-section p {
  overflow: hidden;
}

.content-section .u-hover:hover {
  --_d: 100%;
  --_t: 0;
  --_c: #0000;
}