@font-face {
	font-family: "CormorantGaramond";
	src: url("/fonts/Cormorant-garamond-v21-latin-700.woff2") format("woff2");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("/fonts/Montserrat-v31-latin-regular.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
