/* Colors */
:root {
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --violet: #8b5cf6;
  --violet-ligth: hsl(258deg 90% 66% / 50%);
  --violet-2: hsl(258deg 90% 66% / 70%);
  --color-light: #eee;
  --color-dark: #111;
  --color-grey-dark: #686868;
  --color-grey-medium: #a9a9a9;
  --color-grey-light: #e9e9e9;
  --color-black: #282828;
  --color-beige: #eeece9;
   // https: //github.com/kepano/flexoki/blob/main/css/flexoki.css
  --flexoki-black: #100F0F;
  --flexoki-paper: #FFFCF0;

  --flexoki-950: #1C1B1A;
  --flexoki-900: #282726;
  --flexoki-850: #343331;
  --flexoki-800: #403E3C;
  --flexoki-700: #575653;
  --flexoki-600: #6F6E69;
  --flexoki-500: #878580;
  --flexoki-300: #B7B5AC;
  --flexoki-200: #CECDC3;
  --flexoki-150: #DAD8CE;
  --flexoki-100: #E6E4D9;
  --flexoki-50: #F2F0E5;

  --flexoki-red-600: #AF3029;
  --flexoki-red-400: #D14D41;

  --flexoki-orange-600: #BC5215;
  --flexoki-orange-400: #DA702C;

  --flexoki-yellow-900: #4D3A0B;
  --flexoki-yellow-600: #AD8301;
  --flexoki-yellow-400: #D0A215;
  --flexoki-yellow-100: #FCEEB8;

  --flexoki-green-600: #66800B;
  --flexoki-green-400: #879A39;

  --flexoki-cyan-950: #142625;
  --flexoki-cyan-600: #24837B;
  --flexoki-cyan-400: #3AA99F;
  --flexoki-cyan-50: #EBF2E7;

  --flexoki-blue-600: #205EA6;
  --flexoki-blue-400: #4385BE;

  --flexoki-purple-600: #5E409D;
  --flexoki-purple-400: #8B7EC8;

  --flexoki-magenta-600: #A02F6F;
  --flexoki-magenta-400: #CE5D97;
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  font-family: Inter, system-ui, sans-serif;
  color: var(--flexoki-200);
  background-color: var(--flexoki-black);
  max-width: 70ch;
  margin: auto;
  line-height: 1.75;
  font-size: 1rem;
}

body {
  padding: 1em 1em;
}

@view-transition {
  navigation: auto;
}


p:last-child {
  margin-bottom: 0;
}

p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
}

.tmpl-post .previous-next-page-link a {
  text-decoration-skip-ink: none;
  text-underline-offset: .25em;
  text-decoration-line: underline;
  color: var(--flexoki-200);

  &:hover {
    color: var(--flexoki-purple-400);
    text-decoration-thickness: 3px;
    text-decoration-color: var(--flexoki-purple-400);
  }
}

.content-sources {
  padding: 0.5em;
}

.content-section a,
.content-sources a,
a.postlist-link {
  text-decoration-skip-ink: none;
  text-underline-offset: .25em;
  text-decoration-line: underline;
  color: var(--flexoki-200);

  &:hover {
    color: var(--flexoki-purple-400);
    text-decoration-thickness: 3px;
    text-decoration-color: var(--flexoki-purple-400);
  }
}

.home a,
.home a:visited,
.nav .nav-item a,
.nav .nav-item a:visited {
  color: var(--flexoki-purple-400);
}

main {
  @include mq($from: 'tablet') {
    margin-top: 1em;
  }
}

header {
  border-bottom: 1px dashed var(--flexoki-purple-400);
}

header:after {
  content: "";
  display: table;
  clear: both;
}

table {
  margin: 1em 0;
}

table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}

pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}

code {
  word-break: break-all;
}

.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
  @include mq($from: 'tablet') {
    padding: 0;
    margin: .5rem 0;
  }
}

.home a {
  padding: 1rem;
  padding-left: 0;

  @include mq($from: 'tablet') {
    padding: .5rem;
  }
}

.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  display: flex;
  gap: 1em;
  padding: 0;
  list-style: none;

  @include mq($from: 'tablet') {
    margin: 0;
  }
}

.nav .nav-item:last-child {
  flex-grow: 1;
  text-align: end;
}

.nav-item {
  padding: .5em;
}

.nav-item a[href]:not(:hover) {
  text-decoration: none;
}

.nav-item:hover {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: .25em;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--flexoki-purple-400);
}

// Trick to avoid changing width when we change font-weight https://stackoverflow.com/a/20249560/10166188
.nav-item::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.nav-item-active {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: .25em;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--flexoki-purple-400);
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  line-height: 1.8;
  padding: 20px;
  margin-top: 1.5em;
  border-radius: 5px;
  border: 2px solid var(--flexoki-purple-400);
}

.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--flexoki-500);
}
.postlist-date {
  word-spacing: -0.5px;
  font-style: italic;
  margin-left: auto;
}

.postlist-link {
  margin-left: 5px;
  padding-left: .25em;
  padding-right: .25em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1em; /* 19px /16 */
  font-weight: 700;

  @include mq($from: 'tablet') {
    font-size: 1.1875em;
  }
}


/* Tags */

.post-tag__container {
  margin-top: 15px;
  @include mq($from: 'tablet') {
    width: 100%;
  }
}

.post-tag__container .post-tag:first-child {
  margin-left: 0;
}

.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.75em; /* 12px /16 */
  padding: 0.08333333333333em 0.3333333333333em; /* 1px 4px /12 */
  margin-left: 0.6666666666667em; /* 8px /12 */
  margin-top: 0.5em; /* 6px /12 */
  margin-bottom: 0.5em; /* 6px /12 */
  color: var(--flexoki-200);
  border: 1px solid var(--flexoki-200);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}

a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}

a[href].post-tag:hover,
a[href].post-tag:focus {
  color: var(--flexoki-purple-400);
  border: 1px solid var(--flexoki-purple-400);
}

.postlist-item > .post-tag {
  align-self: center;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}
