:root {
  color-scheme: dark;
   // https://github.com/kepano/flexoki/blob/main/css/flexoki.css
  --flexoki-black: #100F0F;
  --flexoki-black-rgb: 16, 15, 15;

  --flexoki-paper: #FFFCF0;
  --flexoki-paper-rgb: 254, 252, 240;
  --flexoki-200-rgb: 206, 205, 195;

  --flexoki-50: #F2F0E5;
  --flexoki-100: #E6E4D9;
  --flexoki-150: #DAD8CE;
  --flexoki-200: #CECDC3;
  --flexoki-300: #B7B5AC;
  --flexoki-400: #9F9D96;
  --flexoki-500: #878580;
  --flexoki-600: #6F6E69;
  --flexoki-700: #575653;
  --flexoki-800: #403E3C;
  --flexoki-850: #343331;
  --flexoki-900: #282726;
  --flexoki-950: #1C1B1A;

  --flexoki-red-50: #FFE1D5;
  --flexoki-red-100: #FFCABB;
  --flexoki-red-150: #FDB2A2;
  --flexoki-red-200: #F89A8A;
  --flexoki-red-300: #E8705F;
  --flexoki-red-400: #D14D41;
  --flexoki-red-500: #C03E35;
  --flexoki-red-600: #AF3029;
  --flexoki-red-700: #942822;
  --flexoki-red-800: #6C201C;
  --flexoki-red-850: #551B18;
  --flexoki-red-900: #3E1715;
  --flexoki-red-950: #261312;

  --flexoki-orange-50: #FFE7CE;
  --flexoki-orange-100: #FED3AF;
  --flexoki-orange-150: #FCC192;
  --flexoki-orange-200: #F9AE77;
  --flexoki-orange-300: #EC8B49;
  --flexoki-orange-400: #DA702C;
  --flexoki-orange-500: #CB6120;
  --flexoki-orange-600: #BC5215;
  --flexoki-orange-700: #9D4310;
  --flexoki-orange-800: #71320D;
  --flexoki-orange-850: #59290D;
  --flexoki-orange-900: #40200D;
  --flexoki-orange-950: #27180E;

  --flexoki-yellow-50: #FAEEC6;
  --flexoki-yellow-100: #F6E2A0;
  --flexoki-yellow-150: #F1D67E;
  --flexoki-yellow-200: #ECCB60;
  --flexoki-yellow-300: #DFB431;
  --flexoki-yellow-400: #D0A215;
  --flexoki-yellow-500: #BE9207;
  --flexoki-yellow-600: #AD8301;
  --flexoki-yellow-700: #8E6B01;
  --flexoki-yellow-800: #664D01;
  --flexoki-yellow-850: #503D02;
  --flexoki-yellow-900: #3A2D04;
  --flexoki-yellow-950: #241E08;

  --flexoki-green-50: #EDEECF;
  --flexoki-green-100: #DDE2B2;
  --flexoki-green-150: #CDD597;
  --flexoki-green-200: #BEC97E;
  --flexoki-green-300: #A0AF54;
  --flexoki-green-400: #879A39;
  --flexoki-green-500: #768D21;
  --flexoki-green-600: #66800B;
  --flexoki-green-700: #536907;
  --flexoki-green-800: #3D4C07;
  --flexoki-green-850: #313D07;
  --flexoki-green-900: #252D09;
  --flexoki-green-950: #1A1E0C;

  --flexoki-cyan-50: #DDF1E4;
  --flexoki-cyan-100: #BFE8D9;
  --flexoki-cyan-150: #A2DECE;
  --flexoki-cyan-200: #87D3C3;
  --flexoki-cyan-300: #5ABDAC;
  --flexoki-cyan-400: #3AA99F;
  --flexoki-cyan-500: #2F968D;
  --flexoki-cyan-600: #24837B;
  --flexoki-cyan-700: #1C6C66;
  --flexoki-cyan-800: #164F4A;
  --flexoki-cyan-850: #143F3C;
  --flexoki-cyan-900: #122F2C;
  --flexoki-cyan-950: #101F1D;

  --flexoki-blue-50: #E1ECEB;
  --flexoki-blue-100: #C6DDE8;
  --flexoki-blue-150: #ABCFE2;
  --flexoki-blue-200: #92BFDB;
  --flexoki-blue-300: #66A0C8;
  --flexoki-blue-400: #4385BE;
  --flexoki-blue-500: #3171B2;
  --flexoki-blue-600: #205EA6;
  --flexoki-blue-700: #1A4F8C;
  --flexoki-blue-800: #163B66;
  --flexoki-blue-850: #133051;
  --flexoki-blue-900: #12253B;
  --flexoki-blue-950: #101A24;

  --flexoki-purple-50: #F0EAEC;
  --flexoki-purple-100: #E2D9E9;
  --flexoki-purple-150: #D3CAE6;
  --flexoki-purple-200: #C4B9E0;
  --flexoki-purple-300: #A699D0;
  --flexoki-purple-400: #8B7EC8;
  --flexoki-purple-500: #735EB5;
  --flexoki-purple-600: #5E409D;
  --flexoki-purple-700: #4F3685;
  --flexoki-purple-800: #3C2A62;
  --flexoki-purple-850: #31234E;
  --flexoki-purple-900: #261C39;
  --flexoki-purple-950: #1A1623;

  --flexoki-magenta-50: #FEE4E5;
  --flexoki-magenta-100: #FCCFDA;
  --flexoki-magenta-150: #F9B9CF;
  --flexoki-magenta-200: #F4A4C2;
  --flexoki-magenta-300: #E47DA8;
  --flexoki-magenta-400: #CE5D97;
  --flexoki-magenta-500: #B74583;
  --flexoki-magenta-600: #A02F6F;
  --flexoki-magenta-700: #87285E;
  --flexoki-magenta-800: #641F46;
  --flexoki-magenta-850: #4F1B39;
  --flexoki-magenta-900: #39172B;
  --flexoki-magenta-950: #24131D;
}

:root {
  --light-icon: url("data: image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' %3E%3Cpath fill-rule='evenodd' d='M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z' clip-rule='evenodd' /%3E%3C/svg%3E");
  --dark-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 24 24' %3E%3Cpath d='M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z' /%3E%3C/svg%3E");
  &:has(input[name="color-scheme"][value="light"]:checked) {
    color-scheme: light;
    --fx-noise: var(--light-icon);
  }

  &:has(input[name="color-scheme"][value="dark"]:checked) {
    color-scheme: dark;
    --fx-noise: var(--dark-icon);
  }
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  font-family: Montserrat, system-ui, sans-serif;
  color: light-dark(var(--flexoki-900), var(--flexoki-200));
  background-color: light-dark(var(--flexoki-paper), var(--flexoki-black));
  max-width: 70ch;
  margin: auto;
  line-height: 1.75;
  font-size: 1.125rem;
}

body {
  padding: 1em 1em;
}

@view-transition {
  navigation: auto;
}

h1, h2, h3 {
  font-family: CormorantGaramond, system-ui, sans-serif;
  font-weight: 700;
}


p:last-child {
  margin-bottom: 0;
}

p strong {
  font-family: CormorantGaramond, system-ui, sans-serif;
  font-weight: 700;
}

p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
}

.tmpl-post .previous-next-page-link a {
  text-decoration-skip-ink: none;
  text-underline-offset: .25em;
  text-decoration-line: underline;
  color: light-dark(var(--flexoki-black), var(--flexoki-200));

  &:hover {
    color: light-dark(var(--flexoki-purple-400), var(--flexoki-purple-600));
    text-decoration-thickness: 3px;
    text-decoration-color: light-dark(var(--flexoki-purple-400), var(--flexoki-purple-600));
  }
}

.content-sources {
  padding: 0.5em;
}

.content-section a,
.content-sources a,
a.postlist-link {
  text-decoration-skip-ink: none;
  text-decoration-line: underline;
  color: light-dark(var(--flexoki-black), var(--flexoki-200));

  &:hover {
    color: light-dark(var(--flexoki-purple-400), var(--flexoki-purple-600));
  }
}

.home a,
.home a:visited,
.nav .nav-item a,
.nav .nav-item a:visited {
  color: light-dark(var(--flexoki-purple-600), var(--flexoki-purple-400));
}

main {
  @include mq($from: 'tablet') {
    margin-top: 1em;
  }
}

header {
  border-bottom: 1px dashed light-dark(var(--flexoki-purple-600), var(--flexoki-purple-400));
  display: flex;
}

header:after {
  content: "";
  display: table;
  clear: both;
}

table {
  margin: 1em 0;
}

table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}

pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}

code {
  word-break: break-all;
}

.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}

/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}

.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}

.highlight-line-add {
  background-color: #45844b;
}

.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
  @include mq($from: 'tablet') {
    padding: 0;
    margin: .5rem 0;
  }
}

.home a {
  padding: 1rem;
  padding-left: 0;

  @include mq($from: 'tablet') {
    padding: .5rem;
  }
}

.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  display: flex;
  gap: .5em;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  width: 100%;

  @include mq($from: 'tablet') {
    margin: 0;
    gap: 1em;
  }
}

.nav-item {
  padding: .5em;
  font-family: CormorantGaramond;
}

.nav-item a[href]:not(:hover) {
  text-decoration: none;
}

.nav-item:hover {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: .25em;
  text-decoration-thickness: 3px;
  text-decoration-color: light-dark(var(--flexoki-purple-600), var(--flexoki-purple-400));
}

// Trick to avoid changing width when we change font-weight https://stackoverflow.com/a/20249560/10166188
.nav-item::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.nav-item-active {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: .25em;
  text-decoration-thickness: 3px;
  text-decoration-color: light-dark(var(--flexoki-purple-600), var(--flexoki-purple-400));
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}

.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  line-height: 1.8;
  padding: 20px;
  margin-top: 1.5em;
  border-radius: 5px;
  border: 2px solid light-dark(var(--flexoki-purple-600), var(--flexoki-purple-400));
}

.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}

.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: light-dark(var(--flexoki-600), var(--flexoki-200));
}

.postlist-date {
  margin-top: 0.25em;
  word-spacing: -0.5px;
  font-style: italic;
  margin-left: auto;
  width: 100%;


  @include mq($from: 'tablet') {
    width: auto;
    margin-top: 0;
    flex-grow: 1;
    text-align: end;
  }
}

.postlist-link {
  width: 100%;
  max-width: 80%;
  margin-top: .25em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;

  @include mq($from: 'tablet') {
    width: auto;
    margin-left: 5px;
    margin-top: .25em;
    padding-left: .25em;
    padding-right: .25em;
  }
}

.postlist-item-active .postlist-link {
  font-weight: bold;
  font-family: CormorantGaramond;
}

.tmpl-home .postlist-link {
  font-size: 1.3em; /* 19px /16 */
  font-weight: 700;
  font-family: CormorantGaramond;
  text-decoration-line: none;

  @include mq($from: 'tablet') {
    font-size: 1.5em;
  }
}


/* Tags */

.post-tag__container {
  margin-top: 15px;
  display: flex;
  gap: .5em;
  flex-wrap: wrap;
  @include mq($from: 'tablet') {
    width: 100%;
  }
}

.post-tag__container .post-tag:first-child {
  margin-left: 0;
}

.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.75em; /* 12px /16 */
  padding: 0.08333333333333em 0.3333333333333em; /* 1px 4px /12 */
  color: light-dark(var(--flexoki-black), var(--flexoki-200));
  border: 1px solid light-dark(var(--flexoki-black), var(--flexoki-200));
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}

a[href].post-tag:hover,
a[href].post-tag:focus {
  color: light-dark(var(--flexoki-purple-400), var(--flexoki-purple-600));
  border: 1px solid light-dark(var(--flexoki-purple-400), var(--flexoki-purple-600));
}

.postlist-item > .post-tag {
  align-self: center;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}

.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

.color-scheme {
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq($from: 'tablet') {
    margin-left: auto;
  }
}

.color-scheme label {
  display: flex;
  gap: .25em;
  align-items: center;
  justify-content: center;
  height: 100%;
}
