---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout 
  title="About - Cocoweb" 
  description="About Corentin Marzin and the Cocoweb blog."
  ogImage="/img/og-cocoweb.webp"
  lang="en"
>
  <article class="about">
    <h1>About</h1>
    
    <p>Welcome to my corner of the web.</p>
    
    <p>I am Corentin, I make digital interfaces for people.</p>
    
    <p>
      In this blog, I share my tech watch mainly and sometimes I write articles 
      about things I do at work.
    </p>
    
    <h2>My projects and links</h2>
    
    <ul>
      <li>
        <a href="https://github.com/CMarzin/cli-mr-creator" target="_blank" rel="noopener">
          An npm package for creating merge request from your cli
        </a>
      </li>
      <li>
        <a href="https://corentinmarzin.fr" target="_blank" rel="noopener">
          My personal and lastest folio
        </a>
      </li>
      <li>
        <a href="https://unsplash.com/@marzin_corentin" target="_blank" rel="noopener">
          My place where I publish the best photo I took
        </a>
      </li>
      <li>
        <a href="https://github.com/CMarzin" target="_blank" rel="noopener">
          My Github account
        </a>
      </li>
      <li>
        <a href="https://ysf.cocommit.fr/" target="_blank" rel="noopener">
          A never published project, but I am still proud of the animations
        </a>
      </li>
      <li>
        <a href="https://x.com/marz_coco" target="_blank" rel="noopener">
          My twitter account
        </a>
      </li>
      <li>
        <a href="https://haddock-fury.cocommit.fr/" target="_blank" rel="noopener">
          A vibe coded yolo insult generator
        </a>
      </li>
    </ul>
  </article>
</BaseLayout>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin: 0;
    padding: .5rem;
  }
  ul li {
    list-style: square inside;
    padding: 0;
    margin: 0;
  }
  a {
    color: light-dark(var(--flexoki-black), var(--flexoki-200));
    text-decoration: underline;
    text-decoration-skip-ink: none;;
    &:hover {
      color: light-dark(var(--flexoki-purple-600), var(--flexoki-purple-400));
      text-decoration: underline;
    }
  }
</style>
