.search__result {
  padding-left: 0;
}

.search__result li {
  list-style: none;
  margin: 10px 0;
}
.search__result li > a {
  color: var(--flexoki-500);

  &:hover {
    text-decoration: underline;
    text-underline-offset: .25em;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--flexoki-purple-400);
    color: var(--flexoki-purple-400);
  }
}

.search__input {
  margin-top: 10px;
  padding: 10px;
  height: 40px;
  background: none;
  border: 2px solid var(--flexoki-200);
  color: var(--flexoki-200);
}

.search__label {
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
}

.search__button {
  padding: 10px;
  height: 40px;
  text-transform: uppercase;
  background-color: var(--flexoki-200);
  border: 1px solid var(--flexoki-200);
  cursor: pointer;

  &:hover {
    color: var(--blue);
    border: 1px solid var(--blue)
  }
}