<hr class="my-8 border-t border-border/60 animate-fade-up"  style="animation-delay: 350ms;"/>
<p class="text-sm text-foreground italic animate-fade-up" style="animation-delay: 400ms;">Have a great week.</p>
<hr class="my-8 border-t border-border/60 animate-fade-up"  style="animation-delay: 450ms;"/>
