<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta property="og:image" content="{{ ogImage or metadata.ogImage }}"/>
    <meta property="og:title" content="{{ title or metadata.title }}"/>
    <meta property="og:description" content="{{ description or metadata.description }}"/>

    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/favicon-57x57.webp">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/favicon-60x60.webp">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/favicon-72x72.webp">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/favicon-76x76.webp">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/favicon-114x114.webp">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/favicon-120x120.webp">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/favicon-144x144.webp">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/favicon-152x152.webp">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/favicon-180x180.webp">
    <link rel="icon" type="image/webp" sizes="16x16" href="/img/favicon/favicon-16x16.webp">
    <link rel="icon" type="image/webp" sizes="32x32" href="/img/favicon/favicon-32x32.webp">
    <link rel="icon" type="image/webp" sizes="96x96" href="/img/favicon/favicon-96x96.webp">
    <link rel="icon" type="image/webp" sizes="192x192" href="/img/favicon/favicon-192x192.webp">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon/favicon.webp">
    <link rel="icon" type="image/x-icon" href="/img/favicon/favicon.webp">
    <link href="https://github.com/CMarzin" rel="me">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/favicon/favicon-144x144.png">
    <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">


    <link rel="stylesheet" href="{{ '/css/theme.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

    <script defer event-publication_date="{{ date }}" event-pagename="{{ title or metadata.title }}" data-domain="cocoweb.fr" src="https://plausible.cocommit.fr/js/script.hash.outbound-links.tagged-events.js""></script>
  </head>
  <body>
    <header>
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li title="{% if entry.key === 'Home' %} {{ metadata.title }}{% else %} {{ entry.title }}{% endif %}" class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{% if entry.key === 'Home' %} {{ metadata.title }}{% else %} {{ entry.title }}{% endif %}</a></li>
      {%- endfor %}
        <div class="color-scheme">
          <input class="radio dark-checkbox" name="color-scheme" type="radio" value="dark" checked/>
        <input class="radio light-checkbox" name="color-scheme" type="radio" value="light"/>
         </div>
      </ul>
    </header>
    <script src="/_includes/js/bundle.js"></script>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>
      {% footerCopyright %}
     <div class="footer__webring">
      <a href="https://xn--sr8hvo.ws/previous" class="footer__webring--previous">←</a>
      <a href="https://xn--sr8hvo.ws" class="footer__webring-label">An IndieWeb Webring 🕸💍</a>
      <a href="https://xn--sr8hvo.ws/next" class="footer__webring--next">→</a>
     </div>
    </footer>

    <!-- Current page: {{ page.url | url }} -->

     {% jsonLdScript meta, type, tags %}
  </body>
</html>
